* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    margin: 34px;
    padding: 8px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header_nav-logo {
    width: 130px;
}

.header_nav-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    justify-content: center;
    gap: 10px; }

.header_nav-item {
    border: 2px solid #8f7da1;
    border-radius: 15px;
    margin-bottom: 50px;
    color: black;
    padding: 10px 15px;
    margin-right: 2px;
    text-align: center;
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header_nav-item a {
    text-decoration: none;
    color:white;
}

.header_nav-item:hover {
    background-color: #9c57cd; 
    color: white;
}
/* Main */
.hero {
    display: flex;
    padding-top: 44px;
    padding-bottom: 34px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.main_img img {
    /* width: 300px; */
    height: 300px;
    /* max-width: 100vw; */
    width: 100%;
    margin-left: 85px;
    margin-bottom: 0px;
    animation: slideIn1 1s ease-out forwards;
    transition: transform 0.3s ease;
}
.main_img img:hover {
    transform: scale(1.2);
}



.tabs img {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    
}


.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: salmon;
    align-items: center;
    padding-top: 60px;
    height: 50px;
    padding-bottom: 100px;
}

.tabs_cards h3 {
    color: rgb(10, 10, 10);
    align-items: center;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-top: 5px; */
    margin-right: 25px;
    margin-left: 15px;
}
.tabs_cards a{
    text-decoration: none;
}

.footer {
    background-color: black;
    text-align: center;
    color: white;
}

.footer_text {
    text-align: center;
}

.tabs_cards h3:hover {
    color: black;
}
.tabs_cards img:hover {
    transform: scale(1.2); /* Zoom in by 20% on hover */
  }

.tabs {
   
    background: linear-gradient(100.5deg, rgb(113, 112, 183) 17.7%, rgb(210, 139, 214) 76.1%);
}

body {
    background-color: #082033;
}

.tabs {
    border: 3px solid purple;
}

.tabs {
    border-radius: 30px;
}

.container {
    border-radius: 20px;
}

.header_nav img {
    border-radius: 75px;
}

.tabs_cards img {
    border-radius: 50px;
}
@keyframes slideIn1 {
    from {
        transform: translateX(100%); /* Start from the right */
        opacity: 0; /* Start with no opacity */
    }
    to {
        transform: translateX(0); /* End at original position */
        opacity: 1; /* End with full opacity */
    }
}
 @keyframes slideIn {
    from {
        transform: translateX(-100%); 
         opacity: 0; 
    } 
    to { 
         transform: translateX(0); 
         opacity: 1; 
     } 
} 
.wrapper{
    display: flex;
}
.wrapper .static-txt{
    color: white;
    margin-top: 18px;
    font-size: 65px;
    height: 20px;
    max-height: 100%;
    font-weight: 600;
}
.wrapper .dynamic-txt{
    margin-top: 18px;
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txt li{
    list-style: none;
    color: #FC6D6D;
    font-size: 42px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  .dynamic-txt li{
    position: relative;
  }
  .dynamic-txt li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:#082033 ;
    border-left: 2px solid #FC6D6D ;
    animation: typing 3s steps(5) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
@keyframes typing{
    40%,60%{
        left:calc(100% + 30px);
    }
    100%{
        left:0;
    }
}
  